
  body{
    background-color: aquamarine;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  
  h1{
    text-align: center;
    font-size: 4em;
    color: rgb(155, 182, 35);
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Bevan', cursive;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: -2px 3px #000;
  
  }
  
  h2 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-family: 'Bevan', cursive;
    font-weight: 300;
    text-shadow: -2px 3px #000;
    margin-bottom: 5px;
    margin-top: -15px;
  }
  
  #board{
    background-color: transparent;
    width: 720px;
    height: 530px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0px auto;
  }
  .card{
    width: 160px;
    height: 160px;
    margin: 10px;
    float:right;
    background-color: blue;
    background-size: 160px 160px;
    border-radius: 10px;
    -moz-box-shadow: -3px 3px 10px #000;
    -webkit-box-shadow: -3px 3px 10px #000;
     box-shadow: -3px 3px 10px #000;
  }
  
  
  .card img{
    display: none;
  }
  
  .card.image img {
    display: block;
  }
  
  .image {
      width: 160px;
      height: 160px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
  
    }
  
  .image.match {
    width: 160px;
    height: 160px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  